.avatar {
  text-decoration: underline;
  font-size: 0.8rem;
  font-weight: 500;
  cursor: pointer;
  margin-top: 0.5rem;
  margin-bottom: 3rem;
  color: #e64980;
}

.button {
  background-color: #e64980;
  border: 1px solid transparent;
  color: #fff;
  font-size: 16px;
  line-height: 1;
  font-weight: 600;
  border-radius: 4px;
  width: auto;
  height: 42px;
  padding-left: 22px;
  padding-right: 22px;
  margin-top: 1rem;

  &:hover {
    background-color: #ce4374;
  }
}
