.container {
  max-width: 90%;
  margin: 0 auto;
}

.signin__dangKy {
  color: blue;
  cursor: pointer;
}

.signin__button {
  background-color: #ffbe58;
  color: #022644;
}

.signin__button:hover {
  color: #fff;
  background-color: #022644;
}

