.card {
  border: 1px solid rgba(117, 113, 113, 0.267);
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 2px 10px 10px #5855552c;
}

.table  {
  background-color: rgba(145, 141, 141, 0.295);
  border-radius: 10px;
}

.table h5 {
  margin: 0
}
